.button {
    display: inline-block;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
}

.button:hover {
    background-color: #4caf73; /* Darker shade of green */
}

.button--black {
    background-color: var(--color-black);
}

.button--black:hover {
    background-color: #333333;
}

.button--large {
    padding: 24px 32px;
    font-size: 1.125rem;
}

.button--small {
    padding: 12px 20px;
    font-size: 0.875rem;
}